lm-sfdc-sapi/src/main/mule/imp-delete-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="flow-delete-id" doc:id="6fcefeda-f1a7-4d2d-9ac3-7d19108638dd" >
		<logger level="INFO" doc:name="Logger to verify the flow" doc:id="ae4dc1bc-b87c-45b3-82b2-2699558f9b8d" />
		<ee:transform doc:name="Transform Message to store the account-id" doc:id="defc0e26-621f-4672-af06-c6bb32a6a227" >
			<ee:variables >
				<ee:set-variable variableName="account_id" ><![CDATA[attributes.uriParams.'account_id']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:delete doc:name="Delete the id in salesforce" doc:id="d18ec330-81f1-42bb-b171-1f76a124427e" config-ref="Salesforce_Config" >
			<salesforce:ids ><![CDATA[#[[attributes.uriParams.account_id]]]]></salesforce:ids>
		</salesforce:delete>
		<ee:transform doc:name="Transform Message to show the deleted id" doc:id="35c1196c-a329-4049-9f1f-b0192f9f3211" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: payload.items.payload.id,
  status: 0,
  message: "Account deleted successfully"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
