lm-mobile-sfdc-xapi/src/main/mule/imp-delete-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="imp-delete-accountsFlow" doc:id="f89321b0-51a4-4a05-8d2d-a37135fc459c" >
		<logger level="INFO" doc:name="Logger to verify the request" doc:id="e90e13bb-f2c2-4b2f-85ea-d69169bd93d6" />
		<http:request method="${request-config.delete-method}" doc:name="Request to delete account " doc:id="b21f4cec-6bdc-413c-9674-0955fe45d568" config-ref="HTTP_Request_configuration-sfdc-sapi" path="${request-config.delete-path}" sendCorrelationId="ALWAYS">
			<http:headers ><![CDATA[#[output application/java
---
{
	"correlationId" : "good",
	"client_secret" : "aAB82B8180B04E3391b503AA66844654",
	"client_id" : "278c2c024ce94151884f31b544fb242b"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"account_id" : vars.account_id
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
