lm-mobile-sfdc-xapi/src/main/mule/imp-post-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="imp-post-accountsFlow" doc:id="3026c0b7-126f-4696-b0f8-c44270c1636a" >
		<logger level="INFO" doc:name="Logger to verify the flow" doc:id="836466a3-f060-4fa1-a6de-e2301dd02089" />
		<http:request method="${request-config.post-method}" doc:name="Request to create accounts in sfdc " doc:id="884fe6be-2b47-4fc2-b7a1-7bd682a1a16d" config-ref="HTTP_Request_configuration-sfdc-papi" path="${request-config.post-path}" sendCorrelationId="ALWAYS" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"correlationId" : "good",
	"client_secret" : "aAB82B8180B04E3391b503AA66844654",
	"client_id" : "278c2c024ce94151884f31b544fb242b"
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
